@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: #193f58;
  --secondary-color: #ffffff;
  --accent1-color: rgb(57, 108, 160);
  --accent2-color: #886e52;
  --heading-font: Rubik, sans-serif;
  --paragraph-font: Inter, sans-serif;
  --nav-background-color: #ffffff;
  --nav-link-color: #886e52;
  --nav-hover-link-color: #193f58;
  --nav-hover-background-color: #ffffff;

}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 0px 30px 30px 30px;
  
}

header {
  padding: 20px;
  /*background-color: var(--secondary-color);*/ 
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
  
}

p {
  padding: 10px;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);

}

h2,
h3 {
  margin-top: 30px;
}

nav {
  /*background-color: var(--nav-background-color);*/

}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 2rem;
  font-weight: bold;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  /*background-color: var(--nav-hover-background-color);*/
}

main>h1 {
  text-align: center;
}

section {
  margin: 5px;
  border: 2px solid var(--accent2-color);
  padding: 5px;
}

section>h1,
h2 {
  text-align: center;
}

form {
  width: 650px;
  margin: 30px auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: grid;

}

input,
textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

input[type="radio"] {

  margin: .5rem;
}

fieldset {
  margin: 1rem 0;
}

button {
  margin: 1rem 15rem;
  background-color: navy;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid rgb(140 140 140);
  font:
    16px "Open Sans",
    Helvetica,
    Arial,
    sans-serif;
  margin-top: 20px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead>tr,
tfoot>tr {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 4px 6px;
}

th {
  vertical-align: bottom;
}


footer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  
}

footer p {
  justify-self: center;
}


footer nav {
  justify-self: right;
}

.navigation {
  display: flex;
  list-style: none;
}

.sociallinks>a {
  text-decoration: none;
  padding: 1rem;
}

.hero {
  position: relative;
  margin: 5px;
}

.hero>img {
  display: block;
  width: 100%;
  height: auto;
}

.hero>h1 {
  color: var(--secondary-color);
  position: absolute;
  top: 40px;
  font-size: 40px;
}

.about-us-heading-messsage{
  left: 350px;
}

.home-heading-message{
  left: 310px;
}

.hero>h2 {
  color: var(--secondary-color);
  position: absolute;
  top: 90px;
  left: 340px;
  font-size: 20px;
}

.hero>article {
  color: var(--secondary-color);
  position: absolute;
  top: 150px;
  left: 110px;
  font-size: 20px;
  background-color: rgb(57, 108, 160, 0.6);
  width: 80%;

}

.hero>article>img {
  float: right;
  padding-left: 10px;
}

.history>h2 {
  text-align: center;
}

.history-container {
  display: flex;
}

.history-container>img {
  padding: 20px;
}

.images-adventure-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.images-adventure-container>figure {
  flex: 150px;
  margin: 10px;
}

.images-adventure-container>figure>img {
  width: 100%;
}

.profile-employees {
  display: flex;
  justify-content: space-around;
}

.profile-employees>figure {
  margin: 10px;
}

.company-info {
  margin-left: 30px;
}

.map {
  display: flex;
}

.map>iframe {
  margin: 20px auto;
}

.trip-detail {
  display: flex;
}

.trip-detail>p {
  text-align: justify;
}

.link-trips {
  text-align: center;
  padding: 36px 40px;
}

.link-trips>a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--accent2-color);
  border-radius: 6px;
}

.site-content{
  display: grid;
  grid-template-columns: 450px 450px;
  grid-gap: 20px;
}