@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Rubik, sans-serif;
    max-width: 960px;
    padding: 0px 30px 30px 30px;
}

header {
    padding: 20px;
    align-items: center;
    justify-items: center;
}

h1 {
    color: #193f58;
    text-align: center;
}

form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    
}
label > span{
    color: navy;
}
input,select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

code{
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    color: white;
    background-color: black;
    margin: 0.5rem 0 0;
}


button{
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;

}

footer{
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    

}
