*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: steelblue;
  padding: .5rem;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}

p {
  padding: 0;
  margin: 1rem;
}

main {
  max-width: 880px;
}

aside {
  width: 20rem;
 /*  margin: 2px;
  border: 1px solid blue;
  padding: 1px;
  background-color: #a9de98; 
  color:#0b2e59;  */
  text-align: center;
}

aside h2{
  position: absolute;
  top: 25px;
  left: 115px;
  color: red;
}
aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 10px;
    border-top: 1px solid #2a044a;
    text-align: center;
}

/*Class Selectors*/

.box{
  margin: 1rem;
  padding: 1rem;
  border: #0b2e59 1px solid;
  background-color: #a9de98;
  color: #0b2e59;
  position: relative;
}

.indent{
  padding-left: 2rem;
}
