nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: steelblue;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0;
}

main {
  max-width: 880px;
}

aside {
  width: 20rem;
  margin: 2px;
  border: 1px solid blue;
  padding: 1px;
  background-color: #a0c55f;
  color:#0b2e59;
  text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 10px;
    border-top: 1px solid #2a044a;
    text-align: center;
}