.grid {
  background-color: rgb(124, 206, 226);
  width: 600px;
  height: 400px;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 5px;
  grid-template-columns: 150px 150px 150px;
  
}

.grid > div{
    border: 1px solid;
    height: 70px;
    text-align: center;
    align-items: center;
    
}

.div-ten{
    grid-column: 1/4;
}

.container {
    display: grid;
    grid-template-columns: repeat(autofill, minmax(150px, 1fr));
    gap: 10px;
  }